body {
  margin: 100;
  padding: 0;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  background-color: black;
  display: block;
}

img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: contain;
}

button {
  border: 10px solid rgb(255, 255, 255);
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 6px 10px;
}

button#next {
  position: absolute;
  top: 50vh;
  right: 5vh;
}

button#prev {
  position: absolute;
  top: 50vh;
  left: 5vw;
}

.thumb-image {
  width: 50px;
  height: 50px;
  padding: 1px;
  cursor: pointer;
}

.thumb-container {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgb(0, 0, 0);
  bottom: 1px;
  left: 50vh;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 1px;
  overflow: scroll;
}
.description-container {
  position: absolute;
  height: 50vh;
  width: 20vw;
  z-index: 100;
  background: rgb(0, 0, 0);
}

.thumbContainerHideButton {
  bottom: 20vh;
  width: auto;
  padding: 0px 7px 1px 7px;
  height: auto;
  transition: bottom 0.4s;
}

.thumbContainerHideButton-thumbnailsHidden {
  bottom: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: block;
}
